#container{
    border:1px solid;
    padding:1rem;
    margin: 1rem;
}
ul{
  padding:0;
  }
li{
  display:flex;
  justify-content: space-between;
  
}
li>div:nth-child(1){flex-grow:2;}
li>div{margin:10px;}
#totals{
  display:flex;
  justify-content:space-between;
  font-weight:bold;
}