<div id="container">
  <div class="foodList">
  <section id='headerOpt'>
    <div>
      <label for="food_name"> Search: </label>
      <input id="food_name" placeholder="food name" type="text" [(ngModel)]="pattern">
    </div>
    <button pButton label="Add" title="Add new food product" (click)="isOn = true">+</button>
    </section>
    <add-food *ngIf="isOn" (pleaseDeleteMeEvent)="deleteHandler()"></add-food>
    <ul>
      <li *ngFor="let food of foods | filterFood:'name':pattern; let i = index" [class.selected]="food === selectedFood"
        (click)="onSelect(food)">

        <figure>
          <img src={{food.image}} alt={{food.name}}>
        </figure>
        <div>
          <h3>{{food.name}}</h3>
          <button (click)="addQty(food)">+</button>
          <input type="number" value={{food.quantity}} (change)='changeQty($event,food)' (keyup)='changeQty($event,food)'>
        </div>

      </li>
    </ul>
  </div>
  <content>
  <food-detail [food]="selectedFood"></food-detail>
<today-foods></today-foods>
</content>


</div>
